# Gradle
.gradle
**/build/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# VSCode
.vscode/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Bazel
*~
bazel-*
.bazelrc
# IntelliJ
.idea
.ijwb
*.iml
out/
# Eclipse
.project
.classpath
.settings/
# Maven
target/
# OS Files
Thumbs.db
desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
